@media all and (max-width: 1170px) {
		[class*="desk"] {
	    display: none !important;
	}
	[class*="mob"] {
	    display: unset !important;
	}
	html {
		overflow-x: hidden;
	}
	/*MENU*/
	#navigation {
	display: block;
	z-index: 100;
	}
	/* Menu Icon */
	.menu-icon {
	    font-size: 1.3em;
	    width: 48px;
	    height: 48px;
	    text-align: center;
	    color: #003d71;
	    line-height: 48px;
	    border-radius: 100%;
	    border: 1px solid #ffffff;
	    background-color: #ffffff;
	    cursor: pointer;
	    position: absolute;
	    top: 15px;
	    right: 20px;
	    margin: 0 auto;
		box-shadow: 0px 1px 10px 1px rgba(0, 61, 113, 0.25);	
	}
	/* class for the ul*/
	.menu-close {
	    transform: rotate(45deg);
	    font-family: monospace;
	    display: none;
	    z-index: 20;
	    font-size: 42px;
	    width: 48px;
	    height: 48px;
	    text-align: center;
	    color: #003d71;
	    line-height: 42px;
	    border-radius: 100%;
	    border: 1px solid #ffffff;
	    background-color: #ffffff;
	    cursor: pointer;
	    position: absolute;
	    top: 15px;
	    right: 20px;
	    margin: 0 auto;
	}
	/* class for the ul*/
	.menu-items-container {
	  background-color: #fff;
	  position: absolute;
	  display: none;
	  width: calc(100% - 40px);
	  margin: 0 auto;
	  overflow: hidden;
	  top: 255px;
	  transform: translateY(-50%);
	  left: 0;
	  right: 0;
	  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
	  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
	  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
	  z-index: 20;
	}

	.menu-items-container li {
	  padding: 0 0 0 0;
	  list-style-type: none;
	}
	.menu-items-container li:hover {
	  cursor: pointer;
	  color: #fff;
	}
	.menu-items-container li:nth-child(1):hover {
	  background-color: #3bb1f4;
	}
	.menu-items-container li:nth-child(2):hover {
	  background-color: #f8dc3d;
	}
	.menu-items-container li:nth-child(3):hover {
	  background-color: #dd4b39;
	}
	.menu-items-container li:nth-child(4):hover {
	  background-color: #429f46;
	}
	.menu-items-container li:nth-child(5):hover {
	  background-color: #691a99;
	}
	/* circular background for the icons*/
	.circle-icon {
	  color: #fff;
	  text-align: center;
	  width: 32px;
	  height: 32px;
	  line-height: 32px;
	  border-radius: 100%;
	}

	.menu-text-icons {
		display: flex !important;
	  font-size: 1.2em;
	  display: block;
	  margin: 10px 0 10px -50px;
	  float: left;
	  transition: all 1s ease;
	  background-color: var(--main-color);

	}

	.menu-text-icons svg {
		color: #fff;
		height: 20px;
		margin: auto;
	}
	/* transition for the icons to move from left side*/
	.effect-menu-text-icons {
	  margin-left: 20px;
	}
	/* text next to icons */
	.menu-text, .menu-text:visited {
		color: #005abb;
		font-weight: 600;
	  font-size: 1em;
	  width: 150px;
	  line-height: 32px;
	  display: block;
	  float: right;
	  margin: 10px -200px 10px 0;
	  transition: all 1s ease;
	}
	.menu-text.active, .manu-text.active:visited{
		color: #f0ad1c;
	}
	/* transition for the text to move from right side*/
	.effect-menu-text {
	  margin-right: 75px;
	}
	/* bottom border divider*/
	.bottom-border {
	  width: 100%;
	  height: 1px;
	  background-color: #005abb45;
	  clear: both;
	}

	.wrapper {
		min-width: unset;
	}

	.iconsection {
		flex-direction: column;

	}
	.iconbox {
		width: 100%;
		margin-top: 70px;
		margin-bottom: 0;
	}
	.iconbox:nth-child(4) {
		margin-bottom: 70px;
	}
	.third_block .column {
	    max-width: 100%;
	    float: right;
	    padding: 70px 0px;
	    margin: 0;

	}
	.third_block {
		background: linear-gradient( 0deg, #003d71e8, #003d71e8), url(../img/23_image.jpg) no-repeat;
		background-size: cover;
		color: #fff;
		height: 630px;
	}

	.hero .wrapper > div {
		height: unset;
		width: unset;
	}

	.hero h1{
		font-size: 28px;
	}
	.hero {height: 100vh;
	}

	body > section:nth-child(5) > .iconsection {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	body > section:nth-child(5) .iconbox:not(:first-child) {
		margin-top: 30px;
	}

	body > section:nth-child(5) .iconbox:nth-child(4) {
		margin-bottom: 0px;
	}
	.halfblock {
		height: 100vh;
		background: linear-gradient( 0deg, #003d71e8, #003d71e8), url(../img/23_image.jpg) no-repeat;
		background-size: cover;
		background-position: right;
	}
	.halfblock .wrapper {
		height: 100vh;
	}
	.halfblock form {
		width: 100%;
		color: #fff;
	}
	.halfblock .button, .halfblock form .email {
		width: 80%;
	}
	footer{
		height: 250px;
	}
	footer .logo {
		width: 130px;
	}
	footer .rightblock > a:first-child {
        margin-right: 0px;
    margin-bottom: 16px;
	}
	footer .rightblock > a {
		display: block;
		font-size: 14px;
	}
	.leftblock span {
		margin: 0px;
		font-size: 14px;
	}
/*	footer .social {
		position: absolute;
	    margin-top: 20px;
	    right: 90%;
	    margin-top: 35px;
	    width: 100vw;
	}*/

}