@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,900&display=swap');
:root{
--main-color: #133f6f;
--highlight: #f0ad1c;
}
html, body {
	overflow-x: hidden;
}
body {
	color: var(--main-color)
}
body, p, h1, h2, h3, h4, span, ul {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body, div, section, p, span, form, input, a, footer,header {
	box-sizing: border-box;
}

h1 {font-size:38px;
	text-transform: uppercase;}
h2 {font-size: 28px;
	font-weight: 700px;
	text-transform: uppercase;
	}
h3 {
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 700;
}

.wrapper {
	min-width: 980px;
	max-width: 1366px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 20px;
}

header {
	color: var(--main-color)
	top: 0;
    height: 85px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 90;
	padding: 22px 0 0 0;
	box-shadow: 0 0 10px -5px;
}

header .wrapper {
	max-width: 1550px;
	padding: 0 30px;
}
.button {
    -webkit-appearance: none;
    border: 0;
    font-size: 16px;
    text-align: center;
    display: block;
    background: var(--highlight);
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 15px 20px -4px #f0ad1cbf;
    padding: 10px 0;
    width: 250px;
    height: 42px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    transition: box-shadow 0.5s;
    cursor: pointer;
}
.button:hover {
	box-shadow: 0 0px 15px #ffc902;
}
.logo {
	width: 175px;
}
.desk-menu {
	float: right;
    font-size: 24px;
    display: inline-block;
    margin: 6px 25px 0 0;

}
.desk-menu li  {
	position: relative;
	font-weight: 900;

	font-size: 23px;
	display: inline-block;
	padding-right: 10px;
	height: 56px;
	
	
}
.desk-menu a, .desk-menu a:visited {color: var(--main-color); transition: 0.5s color; }
.desk-menu a:hover {
	color: #005abb;
}
.active a:after {
	content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
    background: var(--highlight);
    height: 4px;
    left: 0
}
.social {
	float: right;
}
.social img {
	margin-top: 8px;
    width: 32px;
    
}
.social a:first-child {
	margin-right: 15px;

}
a {
	text-decoration: none;
}
.hero {
	background: url(../img/herobanner.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: block;
}
.hero .wrapper {
	display: flex;
	height: 100%;

}
.hero .wrapper > div {
	text-align: center;
	margin: auto;
	height: 50%; width: 80%;
}
.hero h1 {
	color: #fff;
	font-weight: 600;
}
.iconsection {
	display: flex;
	height: min-content;
}
.iconsection span {
	margin-left: auto;
    margin-right: auto;
    white-space: normal;
}
body > section:nth-child(5) > .iconsection {
	margin-top: 100px;
	margin-bottom: 70px;
}
.iconbox {
	position: relative;
	color: var(--main-color);
	padding: 0 2%;
	text-align: center;
	width: 25%;
	display: inline-block;
	white-space: nowrap;
	float: left;
	height: min-content;
	margin: 70px 0;

}
.iconbox span {
	display: block;
	margin-bottom: 15px;
	font-weight: 900;

}
.iconbox img {
	display: block;
	margin: 20px auto;
	height: 92px;
}



.iconbox .connector {
	position: absolute;
    width: 77%;
    height: auto;
    left: 62%;
    top: -138px;
    display: block;
  
}

.iconsection .iconbox:nth-child(2) > img.connector {
	top: unset;
	bottom: -150px;
	transform: rotate(180deg);

	
}

.iconbox p {
	white-space: normal;
}
.third_block, .halfblock { position: relative; height: 600px; }

.third_block .img {
	display: inline-block;
	margin-left: -27%;
    top: 0;
    width: 90%;
    background: url(../img/23_image.jpg) no-repeat;
    background-size: cover;
	height: 600px;

}
.halfblock .img {

    display: inline-block;
    position: absolute;
    right: 0%;
    width: 50%;
    background: url(../img/half_image.jpg);
    background-size: cover;
    height: 600px;

}
.halfblock .wrapper {
	height: 600px;
	display: flex;
}
.halfblock h2 {
	margin-bottom: 30px;
}
.halfblock form {
	margin: auto 0;
    width: 50%;
	text-align: center;
}
form {
	width: max-content;
	margin: 0 auto;
}
.halfblock form .email {
	text-align: center;
	width: 350px;
	height: 42px;
	border-radius: 250px;
	border: 2px solid var(--main-color);
	padding: 10px 30px;
}
.halfblock .button {
	width: 350px;
}
.third_block .column {
	max-width: 36%;
    float: right;
    padding: 0 30px;
    margin-top: 70px;
}
.third_block p {
margin: 0px 0px 20px;
}

.third_block p:nth-child(2) {
	margin-bottom: 50px;
}

body > section:nth-child(5) {
	text-align: center;
	padding: 70px 20px;
}
footer {
    background: var(--main-color);
    color: #fff;
    height: 210px;
    padding: 70px 20px;
}
.leftblock {
	position: absolute;
	left: 0;

}
.leftblock span {
	display: block;
	font-size: 16px;
	font-weight: 600px;
	margin: 20px 0;
}
.rightblock {
	position: absolute;
    text-align: right;
    right: 0;

}
footer .wrapper {
	position: relative;
}
footer .social {
	position: absolute;
    margin-top: 20px;
    right: 0;
}
footer .rightblock > a:first-child {
	margin-right: 15px;
}
footer a {
	color: #fff;
}
footer a:visited {
	color: #fff;
}
[class*="mob"] {
    display: none !important;
}


/*ABOUT================================*/


.about .hero {
	background: linear-gradient( 0deg, #003d71e8, #003d71e8), url(../img/hero_about.jpg);
	overflow: hidden;
	height: 100vh;
	display: flex;
}

.about .hero .wrapper {
	display: flex;
	height: 40vh;
	margin: auto;
}
.about_text {
	margin: auto 0;
    width: 50%;
    text-align: left;
}
.about .hero .img {
	display: inline-block;
    position: absolute;
    right: 0%;
    width: 50%;
    background: #0b518c;
    background-size: cover;
    height: 386px;
}
.about .hero img {
	position: absolute;
    left: 30px;
    top: -30px;
}

.about .hero .about_text {
	color: #fff;
	margin: auto 0;
    width: 50%;
    text-align: left;
    height: 50vh;
}
.about_text p {
	margin-top: 30px;
	width: 85%;
}

.infographic > .wrapper{
    background: url(../img/infograph_desk.png) no-repeat center;
    background-size: 980px auto;
    height: 100vh;
}
.iconsection.dark {
	background: var(--main-color);
}
.about .iconsection > .wrapper {
	display: flex;
	flex-flow: wrap;
}
.about .iconsection.dark .iconbox:not(:nth-child(-n+4))
 { width: 33%;
 	margin: 0 0 70px;
}
.iconsection.dark .iconbox span {
	max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
}
.about .iconsection.dark .iconbox {
	color: #fff;
}
.about .iconsection.dark .iconbox img {
	height: 68px;
}
.iconsection.leaders h2 {
    position: absolute;
    text-align: center;
    width: 100%;

}
.iconsection.leaders .iconbox p {
	display: block;
	margin-bottom: 10px;
}
.iconsection.leaders img {
	height: unset;
	width: 100%;
}
.iconsection.leaders  .iconbox > span:nth-child(2) {
	margin-bottom: 0;

}
.iconsection.leaders .iconbox  span:nth-child(3) {
	color: #0074be;
}

.about .halfblock .img {
    display: inline-block;
    position: absolute;
    left: 50px;
    max-width: 701px;
    width: 50%;
    background: var(--main-color);
    background-size: cover;
    margin-top: 50px;
    height: 480px;
}
.about .halfblock img {
    right: 50px;
    top: -50px;
    position: absolute;
}

.about .halfblock form {
    margin: auto 0;
    margin-left: 50%;
    width: 50%;
    text-align: center;
}


/*CONTACT=========================*/

.contact .hero {
	display: flex;
	background: url(../img/contact_hero.jpg);
}
.contact .hero > div {
    text-align: center;
    margin: auto;
    height: max-content;
    width: 100%;
    padding: 30px 0;
    background: #003d71c2;
}

.contact .hero > div h1{
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;

}
.twoblocks {
	display: flex;
	flex-direction: row;
}
.twoblocks > div {
	padding: 70px 0;
    width: 50vw;
    display: flex;
}
.officebox {
	margin: auto;
}

.officebox h2 {
	margin: 30px 0 10px;
}

.smallForm {
	padding: 70px 0;
	color: #fff;
	background: var(--main-color);
	height: 300px;
}
.smallForm .wrapper {
	position: relative;
}
.smallForm h2 {
	margin: 0 0 20px
}
.smallForm .leftblock {
	padding-left: 20px;
}
.smallForm .rightblock {
	text-align: left;
}
.smallForm span {
	display: block;
	margin-bottom: 15px;
}
.smallForm .button {
	    width: 180px;
	    margin-right: unset;

}
 .leftblock a {color: #fff;}
 .smallForm .email {
	text-align: center;
    width: 350px;
    height: 42px;
    border-radius: 250px;
    text-align: left;
    color: #fff;
    border: 2px solid #fff;
    background: var(--main-color);
    padding: 10px 30px;
}
 .smallForm .email::placeholder {
 	color: #fff;
 }

body.contact > section:nth-child(5) {
    text-align: center;
    padding: 0px 0px;
    height: 700px;
}

.contact .halfblock .img {
    display: inline-block;
    position: absolute;
    right: 0%;
    width: 50%;
    background: url(../img/contactForm.jpg);
    background-size: cover;
    height: 100%;
}
.contact .halfblock form >textarea,
.contact .halfblock form >input:not(.button) {
	text-align: center;
    width: 350px;
    height: 42px;
    border-radius: 250px;
    border: 2px solid var(--main-color);
    padding: 10px 30px;
    margin-bottom: 15px;
    text-align: left;
}
.contact .halfblock form >textarea {
    resize: none;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100px;
}
.contact .halfblock form >input::placeholder {
	color: var(--main-color);
}
.contact .halfblock .wrapper {
    height: 100%;
    display: flex;
}
.contact .halfblock form >textarea::placeholder {
	color: var(--main-color);
}